---
layout: default
---
<div class="row">
  <div class="col-md-8">
    <div class="container" id="events">
      <h2>Events</h2>
      <div class="event">
        <div class="row">
        {% for event in site.categories.events limit:1 %}
          <script>var meetup_geocode = [{{ event.meetup_geocode }}];</script>
          <div class="col-md-9 pull-right">

            <h3 style="margin-top: 5px;"><a target="_blank" href="{{ event.meetup_url }}">{{ event.title }}</a></h3>
            <p>
            {{ event.content }}
            </p>
            <p><span class="time">{{ event.time }}</span> at <a class="location" target="_blank" href="{{ event.map_url }}">{{ event.meetup_location }}</a></p>
            <p><a href="{{ event.meetup_url }}" data-event="{{ event.meetup_id }}" class="mu-rsvp-btn">RSVP</a></p>
          </div>
          <div class="col-md-3">
            <div class="date">
              <span class="month">{{ event.month }}</span><br />
              <span class="day">{{ event.date_number }}<sup>{{ event.date_suffix }}</sup></span>
            </div>
            <div class="map" id="loc">
              <a href="http://google.com"></a>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="container" id="blog">
      <h2>Blog</h2>

      {% for post in site.posts %}
      {% unless post.category == "events" %}
      <h3>{{ post.title }}
        <a href="{{ post.url }}"><span class="glyphicon glyphicon-link"></span></a>
        <br /><small>by {{ post.author }}</small></h3>
        
        {{ post.content }}

    {% endunless %}
    {% endfor %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="container" id="about">
      <h3>About</h3>
      <p>Lean UX MN began in March 2013 after attending <a href="http://www.leandayux.com/">Lean Day</a> in NYC.</p>
      <p>Meetup organizers Joe Williams (<a href="http://www.twitter.com/woejilliams">@woejilliams</a>), Erik Mitchell (<a href="http://www.twitter.com/mitc0185">@mitc0185</a>) and Beth McKeever (<a href="http://www.twitter.com/linoleumtile">@linoleumtile</a>) wanted to bring learnings about Lean UX to the Minnesota community, as well as expose other lean efforts in the area.</p>
    </div>
    <div class="container" id="resources">
      <h3>Resources</h3>
      <div class="list-group">
        <a target="_blank" href="http://www.slideshare.net/EmilyHolmes/iterative-innovation-lean-ux-in-the-enterprise" class="list-group-item">
          <h4 class="list-group-item-heading">Iterative Innovation<span class="glyphicon glyphicon-new-window pull-right"></span></h4>
          <p class="list-group-item-text"><small>How small, iterative changes to your company's UX process can lead to bigger success.<br /><em>by Emily Holmes</em></small></p>
        </a>
        <!--<a href="#" class="list-group-item">See more <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>-->
        <a target="_blank" href="http://uxdesign.smashingmagazine.com/2011/03/07/lean-ux-getting-out-of-the-deliverables-business/" class="list-group-item">
          <h4 class="list-group-item-heading">Getting Out Of The Deliverables Business <span class="glyphicon glyphicon-new-window pull-right"></span></h4>
          <p class="list-group-item-text"><small>A definitive overview of Lean UX.<br /><em>by Jeff Gothelf</em></small></p>
        </a>
        <a target="_blank" href="http://www.leandaywest.com/" class="list-group-item">
          <h4 class="list-group-item-heading">Lean Day West <span class="glyphicon glyphicon-new-window pull-right"></span></h4>
          <p class="list-group-item-text"><small>Two days of workshops and talks detailing case studies and best practices implementing lean startup and lean UX in the enterprise.</small></p>
        </a>
        <a target="_blank" href="http://www.sevnthsin.com/" class="list-group-item">
          <img class="media-object pull-left" src="http://placehold.it/50x50" />
          <h4 class="list-group-item-heading">Sevnthsin <span class="glyphicon glyphicon-new-window pull-right"></span><br /><small>Sponsor for our 2nd meetup</small></h4>
          <p class="list-group-item-text"><small>Sevnthsin is a digital creative agency providing expertise in iPhone and Android Applications, social media and rich interactive solutions that truly engage.</small></p>
        </a>
      </div>
    </div>
  </div>
</div>





<!--Meetup RSVP button script-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s); js.id=id;js.async=true;js.src="https://secure.meetup.com/598491059688185024633/script/api/mu.btns.js?id=uir4f8j0gnensgl09tmnuu22k";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","mu-bootjs");</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDS8LB_bRao1v0Uzy3mPyo5QaB9KpdwOqw&sensor=false"></script>
<script src="/js/maps.js"></script>